/* =====================================================
  NOTICE COMPONENT
  -----------------------------------------------------
  Componente visual para mostrar mensajes informativos
  al usuario.
  Soporta variantes:
  - success
  - error
  - warning
  Basado en metodología BEM.
  ===================================================== */

.notice {
  display: flex;
  align-items: center;
  gap: var(--space-md);

  padding: var(--space-md);
  margin-bottom: var(--space-md);

  border-radius: var(--radius-md);
  background-color: var(--color-bg-container);

  color: var(--color-text-soft);
  font-size: var(--font-size-body-sm);

  /* Indicador lateral visual */
  border-left: 0.4rem solid transparent;

  transition: var(--transition-default);

  /* ===================================================
    ELEMENTS
    =================================================== */

  /* Icono del mensaje */
  &__icon {
    font-size: var(--font-size-heading-sm);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0; // Evita que el icono se comprima
  }

  /* Texto del mensaje */
  &__text {
    margin: 0;
  }

  /* ===================================================
    MODIFIERS
    =================================================== */

  /* Variante: Success */
  &--success {
    border-left-color: var(--color-success-500);
  }

  /* Variante: Error */
  &--error {
    border-left-color: var(--color-error-500);
  }

  /* Variante: Warning */
  &--warning {
    border-left-color: var(--color-warning-500);
  }
}